@model  WebDemo.Models.RecruitJob
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- flexslider.css-->
    <link rel="stylesheet" href="~/css/flexslider.css">
    <!-- chosen.min.css-->
    <link rel="stylesheet" href="~/css/chosen.min.css">
    <!-- style css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>



</head>
<body class="blog-details">

    <div class="blog-main-area mb-70">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="blog-main-wrapper">
                        <div class="author-destils mb-30">
                            <div class="author-left">
                                <div class="author-img">
                                    <a href="#"><img src="@Model.RecruitInfo.Logo" alt="man" /></a>
                                </div>
                                <div class="author-description">
                                    <h3>
                                        @Model.RecruitPosition
                                    </h3>
                                    <span>@Model.RecruitInfo.City</span>
                                    <div><br /></div>
                                    <i class="fa fa-dollar"></i>
                                    <span>@Model.RayOfPay</span>
                                </div>

                            </div>

                        </div>
                        <div class="blog-img mb-30">
                            <div class="row">
                                <div class="col-lg-1">

                                </div>

                                <div class="col-lg-1 ">

                                </div>
                            </div>

                        </div>
                        <div class="single-blog-content">

                            <div class="single-blog-title">
                                <h4>Mô Tả Công Việc</h4>
                            </div>
                            <div class="blog-single-content">
                                <script> document.write(unescape("@Model.Describe"));</script>
                            </div>
                            <div class="single-blog-title">
                                <h4>Yêu Cầu Công Việc</h4>
                            </div>
                            <div class="blog-single-content">
                                <script> document.write(unescape("@Model.Require"));</script>
                            </div>
                            <div class="single-blog-title">
                                <h4>Tại Sao Bạn Sẽ Yêu Thích Làm Việc Tại Đây</h4>
                            </div>
                            <div class="blog-single-content">
                                <script> document.write(unescape("@Model.OtherRequire"));</script>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1">

                            </div>

                            <div class="col-lg-1 ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


