
@model IEnumerable<WebDemo.Models.RecruitJob>

    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

        <!-- all css here -->
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="~/css/animate.css">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="~/css/meanmenu.min.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <!-- font-awesome css -->
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <!-- flexslider.css-->
        <link rel="stylesheet" href="~/css/flexslider.css">
        <!-- chosen.min.css-->
        <link rel="stylesheet" href="~/css/chosen.min.css">
        <!-- style css -->
        <link href="~/css/style.css" rel="stylesheet" />
        <!-- responsive css -->
        <link rel="stylesheet" href="~/css/responsive.css">
        <!-- modernizr css -->
        <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>

      

    </head>
    <body class="blog">
        <!-- header-area-start -->
        <!-- header-area-end -->
        <!-- breadcrumbs-area-start -->
        <!-- breadcrumbs-area-end -->
        <!-- blog-main-area-start -->
        <div class="blog-main-area mb-70">

            <div class="container">
                <h3>Tất Cả Việc Làm Đã Đăng</h3>
                <div class="row">

                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="blog-main-wrapper">
                            @foreach (var item in Model)
                            {
                                <div class="single-blog-post">
                                    <div class="author-destils mb-30">
                                        <div class="author-left">
                                            <div class="author-img">
                                                <a href="#"><img src="@item.RecruitInfo.Logo" alt="man" /></a>
                                            </div>
                                            <div class="author-description">
                                                <h3>
                                                    @item.RecruitPosition
                                                    @if(item.endJob == true)
                                                    {
                                                        <div style="color : red">(Đã Hết Hạn Tuyển Dụng)</div>
                                                    }
                                                </h3>
                                                <i class="fa fa-dollar"></i>
                                                <span>@item.RayOfPay</span>
                                            </div>
                                        </div>
                                        <div class="author-right">
                                            <span>@item.RecruitInfo.City</span>

                                        </div>
                                    </div>

                                    <div class="single-blog-content">

                                        <div class="blog-single-content">
                                            <p></p>
                                            <script> document.write(unescape("@item.Require"));</script>
                                        </div>
                                    </div>
                                    <div class="blog-comment-readmore">
                                        
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a href="/Admin/Master/Detail/@item.Id">Xem Chi Tiết<i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                            @if (item.endJob == false)
                                            {
                                                <div class="col-lg-4" style="float: right">
                                                    <a href="/Admin/RecruitJobs/Edit/@item.Id">Sửa Thông Tin</a>
                                                </div>
                                                <div class="col-lg-4" style="float: right">

                                                    <a href="/Admin/RecruitJobs/EndJob/@item.Id">Đóng Tuyển Dụng</a>

                                                </div>
                                            }
                                            else
                                            {                                                
                                                <div class="col-lg-4" style="float: right">

                                                    <a href="/Admin/RecruitJobs/OpenJob/@item.Id">Mở Tuyển Dụng</a>

                                                </div>
                                            }
                                        </div>
                                           
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-main-area-end -->
        <!-- footer-area-start -->
        <!-- footer-area-end -->
        <!-- all js here -->

    </body>




